	
	
	/* --------------------------------------------------------------------
	Developed by Mustofa Kamal 
	---------------------------------------------------------------------*/
	
	
	
	
	
	
	/* Responsive Web Design - Media Queries */
	@media only screen and (max-width: 800px;) {
	    .table-responsive {
	        overflow: scroll;
	    }
	}

	
	/* ========== Now the CSS ========== */
	
	* {
	    padding: 0;
	    /*margin: auto;*/
	}
	
	.tree {
	    font-family: 'Avenir Book', sans-serif;
	}
	
	.tree ul {
	    padding-top: 20px;
	    position: relative;
	    display: block;
	    white-space: nowrap;
	    transition: all 0.5s;
	    -webkit-transition: all 0.5s;
	    -moz-transition: all 0.5s;
	}
	
	.tree li {
	    vertical-align: top;
	    display: inline-block;
	    white-space: normal;
	    
	    /*float: left;*/
	    text-align: center;
	    list-style-type: none;
	    position: relative;
	    padding: 20px 5px 0 5px;
	    transition: all 0.5s;
	    -webkit-transition: all 0.5s;
	    -moz-transition: all 0.5s;
	}
	
	/*We will use ::before and ::after to draw the connectors*/
	.tree li::before,
	.tree li::after {
	    content: '';
	    position: absolute;
	    top: 0;
	    right: 50%;
	    border-top: 1px solid Gray;
	    width: 52%;
	    height: 20px;
	}
	
	.tree li::after {
	    /*right: auto;*/
	    left: 50%;
	    border-left: 1px solid Gray;
	}
	
	/*We need to remove left-right connectors from elements without any siblings*/
	.tree li:only-child::after,
	.tree li:only-child::before {
	    display: none;
	}
	
	/*Remove space from the top of single children*/
	.tree li:only-child {
	    padding-top: 0px;
	    /*margin: auto;*/
	}
	
	/*Remove left connector from first child and right connector from last child*/
	.tree li:first-child::before,
	.tree li:last-child::after {
	    border: 0 none;
	}
	
	/*Adding back the vertical connector to the last nodes*/
	.tree li:last-child::before {
	    border-right: 1px solid Gray;
	    border-radius: 0 5px 0 0;
	    -webkit-border-radius: 0 5px 0 0;
	    -moz-border-radius: 0 5px 0 0;
	}
	
	.tree li:first-child::after {
	    border-radius: 5px 0 0 0;
	    -webkit-border-radius: 5px 0 0 0;
	    -moz-border-radius: 5px 0 0 0;
	}
	
	/*Time to add downward connectors from parents*/
	.tree ul ul::before {
	    content: '';
	    position: absolute;
	    top: 0;
	    left: 50%;
	    border-left: 1px solid Gray;
	    width: 0;
	    height: 20px;
	}
	
	/*******************************/
	
	.tree li a {
	    border: 2px solid #b5d9ea;
	    padding: 10px;
	    text-decoration: none;
	    display: inline-block;
	    border-radius: 2px;
	    -webkit-border-radius: 2px;
	    -moz-border-radius: 2px;
	    transition: all 0.5s;
	    -webkit-transition: all 0.5s;
	    -moz-transition: all 0.5s;
	    
	    /*padding: 5px;*/
	    color: black;
	    background: #fff;
	    /*box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);*/
	    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
	    /*Segoe UI*/
	    font-size: 12px;
	}
	
	/*Head of Name*/
	.pc_head {
	    display: block;
	    color: DarkBlue;
	    font-size: 10px;
	}
	
	/*Time for some hover effects*/
	/*We will apply the hover effect the the lineage of the element also*/
	.tree li a:hover,
	.tree li a:hover+ul li a {
	    background: LightBlue;
	    color: black;
	    border: 2px solid white;
	    padding: 10px;
	    border-radius: 2px;
	    -webkit-border-radius: 2px;
	    -moz-border-radius: 2px;
	    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	}
	
	.tree ul ul ul li a:hover {
	    border-color: #ccc;
	}
	
	/*Connector styles on hover*/
	.tree li a:hover+ul li::after,
	.tree li a:hover+ul li::before,
	.tree li a:hover+ul::before,
	.tree li a:hover+ul ul::before {
	    border-color: #94a0b4;
	}
	
	.tree li a {
	    /*max-width:110px;*/
	}